//
// Do any local configuration here
//

{{ domain_dns }}	IN	A	{{ ip_dns }}

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

